<nav class="navbar navbar-expand-lg bg-light-subtle shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:show_main' %}"><strong>Hidden Inventory</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    {{ subject_class }}
                </li>
            </ul>
            {% if last_login != nil %}
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ display_name }}
                    </button>
                    <ul class="dropdown-menu shadow dropdown-menu-end">
                    <li><a class="dropdown-item btn btn-outline-danger" href="{% url 'main:logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>