<nav class="navbar navbar-expand-lg bg-light-subtle shadow-sm sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:show_main' %}"><strong>Hidden Inventory</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if last_login != nil %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'main:create_item' %}">Register Item (Legacy)</a>
                </li>          
                {% endif %}
            </ul>
            {% if last_login != nil %}
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ display_name }}
                </button>
                <ul class="dropdown-menu shadow dropdown-menu-lg-end">
                    <li>
                        <a class="dropdown-item btn btn-outline-danger" href="{% url 'main:logout' %}">
                            <span class="me-2">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 4.354v6.651l7.442-.001L17.72 9.28a.75.75 0 0 1-.073-.976l.073-.084a.75.75 0 0 1 .976-.073l.084.073 2.997 2.997a.75.75 0 0 1 .073.976l-.073.084-2.996 3.004a.75.75 0 0 1-1.134-.975l.072-.085 1.713-1.717-7.431.001L12 19.25a.75.75 0 0 1-.88.739l-8.5-1.502A.75.75 0 0 1 2 17.75V5.75a.75.75 0 0 1 .628-.74l8.5-1.396a.75.75 0 0 1 .872.74ZM8.502 11.5a1.002 1.002 0 1 0 0 2.004 1.002 1.002 0 0 0 0-2.004Z" fill="#1c1f21"/><path d="M13 18.501h.765l.102-.006a.75.75 0 0 0 .648-.745l-.007-4.25H13v5.001ZM13.002 10 13 8.725V5h.745a.75.75 0 0 1 .743.647l.007.102.007 4.251h-1.5Z" fill="#1c1f21"/></svg>
                            </span>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>