{% extends 'base.html' %} 

{% block content %}
<h1>Register New Item</h1>

<div class="container-fluid col-lg-6 col-md-8 col-sm-12 create-table rounded border p-4 pb-1 shadow-sm overflow-scroll">
    <form method="POST">
        {% csrf_token %}
        <table class="table table-borderless">
            <tbody>
                {{ form.as_table }}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button type="submit" class="btn btn-primary">Register item</button>
                        <a href="{% url 'main:show_main' %}">
                            <button type="button" class="btn btn-outline-danger">Cancel</button>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>

{% endblock %}