{% extends 'base.html' %}

{% block content %}
<div class="outer-group">
    <div class="mb-3 text-center fw-light fs-3">Login to Hidden Inventory</div>
    <div class="login rounded bg-light bg-gradient border p-4 shadow-sm">
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table table-borderless table-transparent align-middle table-sm">
                <tbody>
                    <tr>
                        <td>Username: </td>
                    </tr>
                    <tr>
                        <td><input type="text" name="username" class="form-control"></td>
                    </tr>
                            
                    <tr>
                        <td>Password: </td>
                    </tr>
                    <tr>
                        <td><input type="password" name="password" class="form-control"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="d-grid gap-2 mx-auto mt-2">
                            <button type="submit" class="login_btn btn btn-block btn-primary">Login</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        <div class="text-center">Don't have an account yet? <a href="{% url 'main:register' %}" class="link-offset-2 link-underline link-underline-opacity-0">Register</a></div>
    </div>    
</div>
{% endblock content %}