{% extends 'base.html' %}

{% block content %}
<div class="outer-group">
    <div class="mb-3 text-center fw-light fs-3">Login to Hidden Inventory</div>
    <div class="login bg-body-secondary rounded border p-4 shadow-sm">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="loginUsername" name="username" placeholder>
                <label for="loginUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="loginPassword" name="password" placeholder>
                <label for="loginPassword">Password</label>
            </div>
            <div class="d-grid gap-2 mx-auto mt-2 mb-3">
                <button type="submit" class="login_btn btn btn-block btn-primary bg-gradient">Login</button>
            </div>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        <div class="text-center text-body-secondary">Don't have an account yet? <a href="{% url 'main:register' %}" class="link-offset-2 link-underline link-underline-opacity-0">Register</a></div>
    </div>    
</div>
{% endblock content %}