{% extends 'base.html' %}

{% block meta %}
    <style>
        .description {
            font-size: 80%;
            text-align: left;
        }

    </style>
{% endblock meta %}

{% block content %}
    <h1>{{ app_name }}</h1>

    <p>Nama: {{ display_name }}</p>
    <p>Kelas: {{ subject_class }}</p>

    <p>Registered items: {{ items|length }}</p>
    <table class="item-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price ($)</th>
            <th>Tags</th>
            <th>Amount</th>
            <th>Date Added</th>
        </tr>
        
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td class="description">{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>{{item.tags}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button type="button">Register New</button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button type="button">Logout</button>
    </a>
    <br>
    <p>Sesi terakhir login: {{ last_login }}</p><br>

{% endblock content %}