{% extends 'base.html' %}

{% block content %}  
<div class = "login rounded bg-light-subtle border p-4 shadow-sm">
    <form method="POST" >  
        {% csrf_token %}  
        <table class="table table-borderless"> 
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center;">Register</th>
                </tr>
            </thead>
            <tbody>
                {{ form.as_table }}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit" class="login_btn btn btn-block btn-success">Daftar</button>
                    </td>  
                </tr> 
            </tfoot>
        </table>  
    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li color="#e25028">{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
{% endblock content %}